/* ==========================================================================
   FORMS RESET
   ========================================================================== */
form, fieldset, legend {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
}
/*** FIELDS ***/

input[type=text], input[type=url], input[type=tel], input[type=number], input[type=color], input[type=email], textarea {
    width: 100%;
    padding: 20px 12px 16px;
    .color-onyx(.2);
    border: 1px solid @color;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font: 20px/20px @font-default;
    color: @color-midnight;
    background: transparent;
    transition: border-color @duration;
    appearance: none;

    &:focus {
        border-color: @color-midnight;
    }

    .form-group & {
        width: 100%;
        max-width: 100%;
    }
}
textarea {
    max-width: 550px;
    height: 120px;
    padding-top: 16px;
    resize: none;
    @media @tablet-sm {
        height: 165px;
    }
}
/* noinspection CssInvalidPseudoSelector */
::placeholder {
    color: @color-space;
    opacity: 1;
}
/*** BUTTONS ***/
[type=submit], [type=reset], [type=button], button, .button {
    padding: 18px;
    border: 2px solid @color-midnight;
    display: inline-block;
    font: 800 15px/18px @font-default;
    color: @color-midnight;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    background: @color-white;
    transition: background-color @duration, color @duration;
    user-select: none;
    appearance: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: @color-white;
        background: @color-midnight;
    }

    &.button-blue {
      border-color: @color-blue;
      color: @color-blue;
      &:hover {
        color: @color-white;
        background: @color-blue;
      }
    }

    &.button-white {
      background: transparent;
      border-color: @color-white;
      color: @color-white;
      &:hover {
        color: @color-blue;
        background: @color-white;
      }
    }
}
/* ==========================================================================
   DEFAULT FORM
   ========================================================================== */
.form {
    &-group {
        margin-bottom: 20px;
        &:after {
            .clearfix;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-label {
        display: block;
        font: 14px/20px @font-default;
        color: @color-black;
        letter-spacing: .1em;
        @media @tablet-sm {
            margin-bottom: 5px;
            font-size: 21px;
        }
    }
    &-file {
        min-height: 38px;
        padding-left: 40px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        @media @tablet-sm {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &:before {
            .pseudo;
            width: 26px;
            height: 26px;
            background: url('@{images}/sprite/upload.png') 0 0 no-repeat;
            background-size: 26px 26px;
            position: absolute;
            left: 0;
            top: 3px;
            @media @tablet-sm {
                top: 18px;
            }
        }

        input[type=file] {
            display: none;
        }
    }
}
/*** SELECTRIC ***/
.selectric {
  background: @color-white;
  .color-onyx(.2);
  border: 1px solid @color;
  transition: border-color @duration;

  .label {
    height: 60px;
    margin: 0 60px 0 12px;
    font: 20px/64px @font-default;
    color: @color-midnight;
  }

  .button {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    .color-onyx(.2);
    border-left: 1px solid @color;
    transition: border-color @duration;

    &:before, &:after {
      .pseudo;
      width: 11px;
      height: 11px;
      margin: auto;
      display: block;
      background: transparent;
      border: none;
      .color-onyx(.2);
      border-bottom: 2px solid @color;
      border-left: 2px solid @color;
      border-radius: 0 0 0 3px;
      box-shadow: none !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);
      transition: border-color @duration;
    }
    &:before {
      bottom: 16px;
    }
    &:after {
      top: 4px;
    }
  }

  &-hover &, &-open & {
    border-color: @color-midnight;

    .button {
      border-color: @color-midnight;
      &:before, &:after {
        border-color: @color-midnight;
      }
    }
  }

  &-items {
    margin-top: -1px;
    background: @color-white;
    border: 1px solid @color-midnight;

    .selectric-above  & {
      margin-top: 0;
      margin-bottom: -1px;
    }

    ul, li {
      font: 20px/20px @font-default;
      color: @color-midnight;
    }

    li {
      padding: 20px 12px;
      transition: color @duration;

      &.selected {
        background: @color-light;
      }
      &:hover:not(.selected) {
        color: @color-blue;
        background: transparent;
      }
    }
  }

}
/*** CHECKBOX, RADIO ***/
.checkbox, .radiobox {
  padding-left: 27px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  input {
    position: absolute;
    top: -5000px;
    left: -5000px;
    &:checked + .square {
      &:before { opacity: 1; }
    }
  }
  .square {
    width: 15px;
    height: 15px;
    border: 2px solid @color-gray-light;
    .color-black(.18);
    box-shadow: inset 2px 2px 7px 0px @color;
    position: absolute;
    top: 0;
    left: 0;
    &:before {
      .pseudo;
      margin: auto auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }
}
.checkbox {
  border-radius: 2px;
  .square {
    &:before {
      width: 22px;
      height: 22px;
      background: url("@{images}/icons/check-orange.png") center center;
      background-size: 100% 100%;
      top: -6px;
      right: -2px;
      left: -2px;
      bottom: -2px;
    }
  }
}
.radiobox {
  .square {
    border-radius: 50%;
    &:before {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}
