/* ==========================================================================
   FORMS RESET
   ========================================================================== */
form, fieldset, legend {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
}
/*** FIELDS ***/
[type='text'], [type='tel'], [type='email'], textarea {
    width: 100%;
    padding: 20px 10px 16px;
    .color-onyx(.2);
    border: 1px solid @color;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font: 20px/20px @font-default;
    color: @color-midnight;
    background: transparent;
    transition: border-color @duration;
    appearance: none;

    &:focus {
        border-color: @color-midnight;
    }

    .form-group & {
        width: 100%;
        max-width: 100%;
    }
}
textarea {
    max-width: 550px;
    height: 118px;
    resize: none;
    @media @tablet-sm {
        height: 180px;
    }
}
/* noinspection CssInvalidPseudoSelector */
::placeholder {
    color: @color-space;
    opacity: 1;
}
/*** BUTTONS ***/
[type='submit'], [type='reset'], [type='button'], button, .button {
    padding: 18px;
    border: 2px solid @color-midnight;
    display: inline-block;
    font: 800 15px/18px @font-default;
    color: @color-midnight;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    background: @color-white;
    transition: background-color @duration, color @duration;
    user-select: none;
    appearance: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: @color-white;
        background: @color-midnight;
    }
}
/* ==========================================================================
   DEFAULT FORM
   ========================================================================== */
.form {
    &-group {
        margin-bottom: 20px;
        &:after {
            .clearfix;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media @tablet-sm {
            margin-bottom: 30px;
        }
    }
    &-label {
        display: block;
        font: 14px/20px @font-default;
        color: @color-black;
        letter-spacing: .1em;
        @media @tablet-sm {
            margin-bottom: 5px;
            font-size: 21px;
        }
    }
    &-file {
        min-height: 38px;
        padding-left: 40px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        &:before {
            .pseudo;
            width: 26px;
            height: 26px;
            background: url('@{images}/sprite/upload.png') 0 0 no-repeat;
            background-size: 26px 26px;
            position: absolute;
            left: 0;
            top: 3px;
        }
        input[type='file'] {
            display: none;
        }

        @media @tablet-sm {
            padding-top: 15px;
            padding-bottom: 15px;
            &:before {
              top: 18px;
            }
        }
    }
}
/*** FORM-FEEDBACK ***/
.form-feedback {
    .form-group {
        margin-bottom: 18px;
    }
    .button {
        width: 100%;
        background: @color-midnight;
        color: @color-white;
        &:hover {
            background: transparent;
            color: @color-midnight;
        }
    }
}
