/* ==========================================================================
   FORMS RESET
   ========================================================================== */
form, fieldset, legend {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
}
/*** BUTTONS ***/
[type='submit'], [type='reset'], [type='button'], button, .button {
    height: 62px;
    padding: 20px;
    font: 800 15px/18px @font-default;
    color: @color-black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    background: transparent;
    border: 2px solid @color-black;
    transition: background @duration, color @duration;
    user-select: none;
    appearance: none;
    cursor: pointer;
    &:hover, &:focus, &:active {
        text-decoration: none;
        background: @color-black;
        color: @color-white;
    }
    &.button-white {
        background: transparent;
        color: @color-white;
        border-color: @color-white;
        &:hover, &:focus, &:active {
            background: @color-white;
            color: @color-black;
        }
    }
}
/*** FIELDS ***/
[type='text'], [type='tel'], [type='email'], textarea {
    width: 100%;
    max-width: 200px;
    padding: 10px 12px;
    border: 1px solid @color-black;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font: 14px/14px @font-default;
    color: @color-black;
    background: @color-white;
    transition: border-color @duration;
    appearance: none;
    @media @tablet-sm {
        font-size: 18px;
        line-height: 18px;
        padding: 18px;
    }

    &:focus {
        border-color: @color-black;
    }

    .form-group & {
        width: 100%;
        max-width: 100%;
    }
}
textarea {
    max-width: 550px;
    height: 118px;
    resize: none;
    @media @tablet-sm {
        height: 180px;
    }
}
/* noinspection CssInvalidPseudoSelector */
::placeholder {
    color: @color-black;
    opacity: 1;
}
/* ==========================================================================
   DEFAULT FORM
   ========================================================================== */
.form {
    &-group {
        margin-bottom: 20px;
        &:after {
            .clearfix;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media @tablet-sm {
            margin-bottom: 30px;
        }
    }
    &-label {
        display: block;
        font: 14px/20px @font-default;
        color: @color-black;
        letter-spacing: .1em;
        @media @tablet-sm {
            margin-bottom: 5px;
            font-size: 21px;
        }
    }
}
