/* ==========================================================================
   BASE STYLES
   ========================================================================== */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    height: 100%;
    font: 18px/32px @font-default;
    color: @color-black;
    overflow-x: hidden;
    background: @color-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.nav-visible {
        overflow: hidden;
    }
}
body {
    min-height: 100%;
    min-width: @w-mobile-xxs;
    position: relative;
    overflow-x: hidden;
    background: @color-white;

    .nav-visible & {
        overflow: hidden;
    }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p, ul, ol, dl {
    margin-top: @margin-sm;
    margin-bottom: @margin-sm;
    @media @tablet-sm {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
a {
    color: @color-black;
    outline: none;
    text-decoration: none;
    transition: color @duration;
    &:hover {
        outline: none;
        text-decoration: underline;
    }
}
figure {
    margin: @margin-md 0;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
audio, canvas, img, video {
    vertical-align: middle;
}
/*** HEADINGS ***/
h1, .h1 {
    margin-top: @margin-lg;
    margin-bottom: 5px;
    font: 800 32px @font-heading;
    color: @color-midnight;
    @media @tablet-sm {
        margin-top: 50px;
        font-size: 64px;
    }
    @media @desktop-sm {
        font-size: 80px;
        line-height: 80px;
    }
}
h2, .h2 {
    margin-top: 28px;
    margin-bottom: 4px;
    font: 800 34px/34px @font-heading;
    color: @color-midnight;
    @media @tablet-sm {
        margin-top: 46px;
        font-size: 46px;
        line-height: 46px;
    }
    @media @desktop-sm {
        font-size: 55px;
        line-height: 55px;
    }
}
h3, .h3 {
    margin-top: @margin-lg;
    margin-bottom: @margin-sm;
    font: bold 30px/34px @font-heading;
    color: @color-midnight;
    @media @tablet-sm {
        margin-top: 46px;
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 36px;
    }
}
h4, .h4 {
    margin-top: @margin-md;
    margin-bottom: 0;
    font: bold 20px/26px @font-default;
    color: @color-midnight;
    @media @tablet-sm {
        margin-top: 46px;
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px;
    }
}
h5, .h5 {
    margin-top: @margin-md;
    margin-bottom: 0;
    font: 300 18px/21px @font-default;
    color: @color-midnight;
    @media @tablet-sm {
        margin-top: 46px;
        margin-bottom: 16px;
        font-size: 21px;
        line-height: 24px;
    }
}
h6, .h6 {
    margin-top: @margin-md;
    margin-bottom: 0;
    font: 300 12px/16px @font-default;
    color: @color-midnight;
    @media @tablet-sm {
        margin-top: 46px;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 21px;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    & + p {
        margin-top: 0;
    }
}
/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
.hidden {
    display: none;
}
.pseudo {
    display: block;
    content: '\0020';
    overflow: hidden;
}
.clearfix {
    display: table;
    content: '\0020';
    clear: both;
}
/** TEXT STYLES **/
.text-large {
    margin-bottom: @margin-md;
    font: 24px/32px @font-heading;
    letter-spacing: .02em;
    + p {
        margin-top: -22px;
    }
    @media @tablet-sm {
        margin-bottom: 44px;
        + p {
            margin-top: -36px;
        }
    }
    @media @desktop-sm {
        font-size: 28px;
        line-height: 38px;
    }
}
.text-medium {
    margin-bottom: @margin-md;
    font: 22px/30px @font-heading;
    letter-spacing: .02em;
    @media @tablet-sm {
        font-size: 24px;
        line-height: 38px;
    }
}
.text-small {
    font-size: 16px;
    line-height: 22px;
    @media @tablet-sm {
        font-size: 18px;
        line-height: 32px;
    }
}
.text-center {
    text-align: center;
}
/** BORDERED LINK **/
.bordered {
    border-bottom: 1px solid @color-black;
    transition: border-color @duration;
    &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
    }
}
/** NO MARGIN **/
.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
/** MOBILE HIDDEN **/
.mobile-hidden {
    display: none;
    @media @tablet-sm {
        display: block;
    }
}
.mobile-hidden-inline {
    display: none;
    @media @tablet-sm {
        display: inline;
    }
}
/*** FIGURE ***/
.figure {
    margin-bottom: 20px;

    figcaption {
        margin-top: 15px;
        display: block;
        font: italic 20px/24px @font-heading;
        .color-black(.6);
        color: @color;
    }
}
/*** LIST-CHECKED ***/
.list-checked {
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 15px;
        padding-left: 40px;
        position: relative;
        &:before, &:after {
            .pseudo;
            width: 3px;
            height: 14px;
            background: @color-midnight;
            border-radius: 3px;
            transform: rotate(40deg);
            position: absolute;
            left: 15px;
            top: 8px;
        }
        &:after {
            height: 8px;
            transform: rotate(-45deg);
            top: 14px;
            left: 9px;
        }
    }
}
/*** LIST-ERRORS ***/
.list-errors {
    padding: 0;
    margin: 18px 0;
    list-style: none;
    @media @desktop-sm {
      margin-bottom: 30px;
    }

    li {
        padding-left: 36px;
        margin-bottom: 20px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }

        &:before, &:after {
            .pseudo;
            width: 3px;
            height: 20px;
            background: @color-red;
            border-radius: 5px;
            position: absolute;
            top: 1px;
            left: 14px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        @media @tablet-sm {
            padding-left: 48px;
            &:before, &:after {
                top: 7px;
            }
        }
        @media @desktop-sm {
            &:before, &:after {
                left: 10px;
            }
        }
    }
}
/*** TABLE-RESPONSIVE ***/
.table-responsive {
    width: 100%;
    overflow-x: scroll;
}
