/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */
.breadcrumbs {
    margin: 0;
    padding: 15px;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid @color-light;
    @media @tablet-sm {
      padding: 35px 35px 22px;
    }
    li {
        letter-spacing: .02em;
        display: inline-block;
        font-weight: 800;
        a {
            margin-right: 8px;
            text-decoration: none;
            position: relative;
            font-weight: normal;
            &:before {
                content: '/';
                position: absolute;
                right: -8px;
            }
            &:after {
                .pseudo;
                height: 1px;
                background: @color-gray-light;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1px;
                transition: opacity @duration;
            }
            &:hover {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}
