/* ==========================================================================
   CERTIFICATES
   ========================================================================== */
.certificates {
    margin: 0 0 20px 0;
    text-align: center;

    &-color {
        .space {
            padding-top: 20px;
            padding-bottom: 20px;
            background: @color-white-smoke;
        }
    }

    @media @tablet-sm {
        &-color {
            .space {
                padding-top: 45px;
                padding-bottom: 35px;
                .list {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media @tablet-md {
        margin-bottom: 70px;
        text-align: left;
        &-color {
          margin-bottom: 0;
        }
    }

    .space {
        margin: 0 -20px;
        .heading {
          margin-top: 0;
        }

        @media @tablet-sm {
            margin: 0 -50vw;
        }
    }

    .list {
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        &:after {
            .clearfix;
        }

        @media @tablet-sm {
            width: 100vw;
            padding: 0 20px 0 84px;
            left: -32px;
            position: relative;
        }

        @media @tablet-md {
            padding-left: 99px;
            padding-right: 35px;
        }

        .item {
            margin: 26px auto;
            @media @mobile-lg {
                width: 50%;
                float: left;
                &:nth-of-type(2n+1) {
                    clear: left;
                }
            }
            @media @tablet-md {
                width: 33.3%;
                &:nth-of-type(2n+1) {
                    clear: none;
                }
                &:nth-of-type(3n+1) {
                    clear: left;
                }
            }
            @media @desktop-sm {
                width: 25%;
                padding: 0 45px;
                &:nth-of-type(3n+1) {
                    clear: none;
                }
                &:nth-of-type(4n+1) {
                    clear: left;
                }
            }
        }
        .link {
            width: 212px;
            max-width: 100%;
            margin: 0 auto;
            display: block;
            text-decoration: none;
        }
        .image {
            margin: 0 auto 24px;
            display: block;
            .color-black(.4);
            box-shadow: 0 0 10px 0 @color;
            position: relative;
            &:before {
                .pseudo;
                width: 70px;
                height: 70px;
                margin: auto auto;
                background: url('@{svg}/icons/zoom.svg') no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                bottom: 15px;
                left: 0;
                right: 0;
                z-index: 10;
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .title {
            margin: 0;
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;
        }
    }
}
