/* ==========================================================================
   CONTACT-US
   ========================================================================== */
.contact-us {
    @media @mobile-lg {
        display: flex;
    }

    .col {
        padding: 40px 20px;
        background: @color-glitter;
        @media @mobile-lg {
            flex-basis: 50%;
        }
        @media @tablet-sm {
            padding: 40px;
        }
        @media @tablet-md {
            padding: 65px;
        }

        &:nth-of-type(2) {
            background: @color-azureish-white;
        }
    }

    .title {
        .h3;
        @media @tablet-sm {
            margin-top: 0;
            margin-bottom: 20px;
            letter-spacing: .02em;
        }
    }

    .information {
        max-width: 340px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        ul {
            margin: 20px 0;
            padding: 0;
            list-style: none;

            @media @tablet-sm {
                margin: 36px 0;
                font-size: 20px;
                line-height: 24px;
            }

            li {
                margin-bottom: 20px;
                @media @tablet-sm {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                a {
                    border-bottom: 1px solid transparent;
                    text-decoration: none;
                    transition: border-color @duration;
                    &[href^='tel'] {
                        cursor: default;
                        border-bottom: none;
                    }
                    &:hover {
                        .color-onyx(.5);
                        border-bottom-color: @color;
                    }
                }
            }

            .icon {
                &-feedback a, &-phone a, &-address {
                    margin-left: 40px;
                    display: inline-block;
                    position: relative;
                    &:before {
                        .pseudo;
                        position: absolute;
                        top: -5px;
                        left: -44px;
                    }
                }
                &-address {
                    &:before {
                        .svg-address-dims;
                        .svg-address;
                    }
                }
                &-phone {
                    a {
                        &:before {
                            .svg-phone-dims;
                            .svg-phone;
                        }
                    }
                }
                &-feedback {
                    a {
                        &:before {
                            .svg-feedback-dims;
                            .svg-feedback;
                            left: -47px;
                        }
                    }
                }

                @media @tablet-sm {
                    &-address:before {
                        top: -12px;
                    }
                    &-phone:before {
                        top: -10px;
                    }
                    &-feedback a:before {
                        top: -9px;
                    }
                }
            }
        }
        .link {
            display: inline;
            .color-onyx(.2);
            border-bottom: 1px solid @color;
            transition: border-color @duration;
            &:hover {
                text-decoration: none;
                border-bottom-color: transparent;
            }

            @media @mobile-lg {
                position: absolute;
                bottom: -8px;
                left: 5px;
            }
            @media @tablet-sm {
                font-size: 20px;
                letter-spacing: .01em;
            }
        }
    }

    .form-contact {
        max-width: 340px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        @media @tablet-sm {
            max-width: 338px;
            margin-bottom: 10px;
            left: 3px;
        }

        .button {
            width: 100%;
            padding: 20px;
            color: @color-white;
            background: @color-midnight;
            &:hover {
                color: @color-midnight;
                background: transparent;
            }
        }
    }
}
