/* ==========================================================================
   CONTACT-US
   ========================================================================== */
.contact-us {

    @media @mobile-lg {
        display: flex;
    }

    .col {
        padding: 40px 20px;
        background: @color-glitter;
        &:nth-of-type(2) {
            background: @color-azureish-white;
        }

        @media @mobile-lg {
            flex-basis: 50%;
        }
        @media @tablet-sm {
            padding: 40px;
        }
        @media @tablet-md {
            padding: 66px;
        }
    }

    .title {
        .h3;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .list, .form-feedback {
        max-width: 340px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .list {
        ul {
            margin: 20px 0;
            padding: 0;
            list-style: none;

            @media @tablet-sm {
                margin: 34px 0;
                font-size: 20px;
                line-height: 24px;
            }

            li {
                margin-bottom: 20px;
                @media @tablet-sm {
                    margin-bottom: 50px;
                }
            }

            .icon {
                &-feedback a, &-phone a, &-address {
                    margin-left: 40px;
                    display: inline-block;
                    position: relative;
                    &:before {
                        .pseudo;
                        width: 50px;
                        height: 40px;
                        position: absolute;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: 40px 40px;
                        top: -5px;
                        left: -44px;
                    }
                }
                &-feedback {
                    a {
                        &:before {
                            background-image: url('@{images}/sprite/feedback.png');
                        }
                    }
                }
                &-phone {
                    a {
                        &:before {
                            background-image: url('@{images}/sprite/phone.png');
                        }
                    }
                }
                &-address {
                    &:before {
                        background-image: url('@{images}/sprite/address.png');
                    }
                }

                @media @tablet-sm {
                    &-address {
                        &:before {
                            top: -12px;
                        }
                    }
                    &-feedback {
                        &:before {
                            top: -9px;
                        }
                    }
                }
            }
        }
        .link {
            display: inline;
            .color-onyx(.2);
            border-bottom: 1px solid @color;
            &:hover {
                text-decoration: none;
                border-bottom-color: transparent;
            }
            
            @media @mobile-lg {
                position: absolute;
                bottom: 0;
            }
            @media @tablet-sm {
                font-size: 20px;
            }
        }
    }
}
