/* ==========================================================================
   CONTACTS
   ========================================================================== */
.contacts {
    @color-border: #e2e0de;
    padding: 0 30px 60px;
    position: relative;
    font: 20px/26px @font-heading;
    color: @color-onyx;
    background: @color-isabelline;
    cursor: default;
    &:after {
        .clearfix;
    }
    @media @mobile-md {
        padding-bottom: 25px;
        &:before {
            .pseudo;
            width: 1px;
            margin-left: 6px;
            position: absolute;
            left: 50%;
            top: 30px;
            bottom: 25px;
            background: @color-border;
        }
    }
    @media @desktop-sm {
        padding: 0 0 55px;
        overflow: hidden;
        &:before, &:after {
            margin-left: 0;
            top: 35px;
            bottom: 55px;
            z-index: 0;
        }
        &:after {
            .pseudo;
            border-left: 1px solid @color-border;
            border-right: 1px solid @color-border;
            position: absolute;
            right: 25%;
            left: 25%;
        }
    }

    .map {
        height: 117px;
        margin: 0 -30px;
        border-bottom: 40px solid @color-isabelline;
        overflow: hidden;
        position: relative;
        z-index: 5;
        background: @color-isabelline;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        transition: transform @duration-l, height @duration-l;
        @media @desktop-sm {
            margin-left: 0;
            margin-right: 0;
        }

        &:before {
            .pseudo;
            height: 77px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            background: @color-white;
            opacity: .5;
            .color-black(.2);
            box-shadow: inset 0 30px 30px -30px @color;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            transition: opacity @duration .4s, transform @duration .4s;
        }

        .title {
            width: 100%;
            height: 77px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 5;
            font: 800 14px/24px @font-default;
            color: @color-midnight;
            text-transform: uppercase;
            backface-visibility: hidden;

            a {
                width: 100%;
                height: 77px;
                padding: 30px;
                display: block;
                position: relative;
                z-index: 5;
                color: @color-midnight;
                text-decoration: none;
            }

            .arrow {
                width: 20px;
                height: 20px;
                margin: auto;
                position: absolute;
                top: 0;
                right: 20px;
                bottom: 0;
                z-index: 5;
                transition: transform @duration-l;

                &:before, &:after, span:before, span:after {
                    .pseudo;
                    width: 10px;
                    height: 3px;
                    border-radius: 3px;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: @color-midnight;
                    backface-visibility: hidden;
                }
                &:before, span:before {
                    left: -7px;
                    transform: rotate(35deg);
                }
                &:after, span:after {
                    right: -7px;
                    transform: rotate(-35deg);
                }
                &:before, &:after {
                    top: -6px;
                }
                span {
                    &:before, &:after {
                        bottom: -7px;
                    }
                }
            }
        }

        &.open {
            height: 437px;
            transform: translate3d(0, 0, 1px);
            &:before {
                opacity: 0;
                transition-delay: 0s;
            }
            .arrow {
                transform: rotate(180deg);
            }
        }

        .gmap {
            width: 100%;
            height: 397px;
            padding: 0;
            margin: 0;
            position: relative;
            z-index: 1;
            background: @color-isabelline;
            backface-visibility: hidden;

            a[href^='https://maps.google.com/maps'] {
                display: none !important;
            }
            .gm-style-cc {
                display: none !important;
            }
        }
    }

    .cols {
        &:after {
            .clearfix;
        }
    }

    .col {
        margin-bottom: 55px;
        position: relative;
        z-index: 5;
        &:nth-child(2) {
            margin-bottom: 90px;
        }
        &:nth-child(3) {
            margin-bottom: 65px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media @mobile-md {
            width: 50%;
            margin-bottom: 80px !important;
            float: left;
            &:nth-child(3), &:last-child {
                margin-bottom: 0 !important;
            }
            &:nth-child(odd) {
                clear: left;
            }
            &:nth-child(even) {
                padding-left: 35px;
            }
        }
        @media @desktop-sm {
            width: 25%;
            padding: 40px 30px 20px;
            margin-bottom: 0 !important;
            &:nth-child(odd) {
                clear: none;
            }
            &:nth-child(even) {
                padding-left: 30px;
            }
        }
    }

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 14px;

        li {
            margin-top: 38px;
            @media @desktop-sm {
                margin-top: 44px;
            }
            &:first-child {
                margin-top: 0;
                @media @mobile-md {
                    margin-top: 2px;
                }
                @media @desktop-sm {
                    margin-top: 5px;
                }
            }
        }
        &-links {
            li {
                margin-top: 21px;
                @media @desktop-sm {
                    margin-top: 21px;
                }
            }
        }
        @media @desktop-sm {
            &-links {
                font-size: 14px;
                line-height: 14px;
                text-transform: uppercase;
                letter-spacing: .06em;
            }
        }

        a {
            border-bottom: 1px solid transparent;
            display: inline-block;
            color: inherit;
            text-decoration: none;
            transition: border-color @duration;
            &:hover {
                .color-onyx(.5);
                border-bottom-color: @color;
            }

            &[href^='tel:'] {
                cursor: default;
                border-bottom: none;
            }
        }
    }

    .icon {
        &-address {
            margin: 0;
        }
        &-feedback a, &-phone a, &-mail a, &-address {
            margin-left: 44px;
            display: inline-block;
            position: relative;
            &:before {
                .pseudo;
                width: 50px;
                height: 40px;
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 40px 40px;
            }
        }
        &-feedback {
            a {
                &:before {
                    top: -14px;
                    left: -49px;
                    background-image: url('@{images}/sprite/feedback.png');
                }
            }
        }
        &-phone {
            a {
                &:before {
                    top: -16px;
                    left: -50px;
                    background-image: url('@{images}/sprite/phone.png');
                }
            }
        }
        &-mail {
            a {
                &:before {
                    top: -13px;
                    left: -50px;
                    background-image: url('@{images}/sprite/mail.png');
                }
            }
        }
        &-address {
            &:before {
                top: -13px;
                left: -49px;
                background-image: url('@{images}/sprite/address.png');
            }
        }
        @media @desktop-sm {
            &-phone {
                a {
                    margin-left: 37px;
                    &:before {
                        top: -18px;
                        left: -41px;
                    }
                }
            }
            &-mail {
                a {
                    margin-left: 37px;
                    &:before {
                        top: -14px;
                        left: -44px;
                    }
                }
            }
            &-address {
                margin-left: 28px;
                &:before {
                    top: -12px;
                    left: -45px;
                }
            }
        }
    }
}
