/* ==========================================================================
   NEWS
   ========================================================================== */
.news {
  margin: 0 -25px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  &:after {.clearfix;}
    .col {
      width: 50%;
      float: left;
    }
    .item {
      padding: 0 25px;
      margin-bottom: 45px;
      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .link {
      text-decoration: none;
    }
    .title {
      margin: 6px 0 12px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
    }
}
