/* ==========================================================================
   PAGE-HEADER
   ========================================================================== */
.page-header {
    height: 215px;
    padding: 20px 0;
    margin: -40px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    color: @color-white;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: default;
    @media @tablet-sm {
        height: 365px;
        padding: 40px 0;
    }
    @media @desktop-sm {
        height: 515px;
        padding: 60px 0;
    }

    &:before {
        .pseudo;
        height: 230px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background: linear-gradient(to bottom, rgba(25,35,49,0) 0%,rgba(25,35,49,1) 76%,rgba(25,35,49,1) 100%);
        opacity: .56;
    }

    .title {
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        z-index: 1;
        color: @color-white;
        text-align: center;
    }
}
