/* ==========================================================================
   PAGE
   ========================================================================== */
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:after {
        .clearfix;
    }
}
.text-large {
    margin-bottom: @margin-md;
    font: 24px/32px @font-heading;
    letter-spacing: .02em;
    + p {
        margin-top: -22px;
    }
    @media @tablet-sm {
        margin-bottom: 44px;
        + p {
            margin-top: -36px;
        }
    }
    @media @desktop-sm {
        font-size: 28px;
        line-height: 38px;
    }
}
.text-medium {
  margin-bottom: @margin-md;
  font: 22px/30px @font-heading;
  letter-spacing: .02em;
  @media @tablet-sm {
    font-size: 24px;
    line-height: 38px;
  }
}
.text-center {
  text-align: center;
}
