/* ==========================================================================
   TESTIMONIALS
   ========================================================================== */
.testimonials {
  margin-bottom: 30px;
  text-align: center;

    .list {
      &:before {
        .pseudo;
        width: 146px;
        height: 3px;
        margin: 0 auto 30px;
        background: @color-midnight;
      }

      @media @tablet-sm {
        &:before {
          width: 246px;
        }
      }
        .image {
            width: 232px;
            margin: 0 auto 30px;
            .color-black(.4);
            box-shadow: 0 0 10px 0 @color;
            img {
              width: 100%;
              height: auto;
            }

            @media @mobile-lg {
              float: left;
            }
        }
        .text {
          font: 24px/34px @font-heading;

          @media @mobile-lg {
              margin-left: 255px;
              text-align: left;
          }
          @media @tablet-sm {
              margin-left: 278px;
          }
          @media @desktop-sm {
              font-size: 28px;
              line-height: 38px;
          }
        }
        .name {
          margin: 25px 0 0 0;
          font: bold 18px/20px @font-default;
          @media @tablet-sm {
            margin-top: 35px;
          }
        }
    }
}
