/* ==========================================================================
   TESTIMONIALS
   ========================================================================== */
.testimonials {
    max-width: 850px;
    margin: 0 auto 30px;
    text-align: center;
    @media @tablet-sm {
        margin-bottom: 50px;
    }

    .list {
        margin-bottom: 30px;
        @media @tablet-sm {
            margin-bottom: 60px;
        }

        &:before {
            .pseudo;
            width: 146px;
            height: 3px;
            margin: 0 auto 30px;
            background: @color-midnight;
            @media @tablet-sm {
                width: 246px;
                margin-bottom: 36px;
            }
        }
        &:after {
            .clearfix;
        }

        .entry {
            min-height: 330px;
            padding: 0 30px;
        }

        .image {
            width: 232px;
            margin: 0 auto 30px;
            .color-black(.4);
            box-shadow: 0 0 10px 0 @color;
            @media @mobile-lg {
                float: left;
            }
            @media @tablet-sm {
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
            }

            a {
                display: block;
                position: relative;

                &:before {
                    .pseudo;
                    width: 70px;
                    height: 70px;
                    margin: auto auto;
                    background: url('@{svg}/zoom.svg') no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    bottom: 15px;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    transition: transform @duration;
                }

                &:hover {
                    &:before {
                        transform: scale(1.15);
                    }
                }
            }
        }

        .text {
            font: 24px/34px @font-heading;
            @media @mobile-lg {
                margin-left: 255px;
                text-align: left;
            }
            @media @tablet-sm {
                margin-left: 278px;
            }
            @media @desktop-sm {
                font-size: 28px;
                line-height: 38px;
            }
        }

        .name {
            margin: 25px 0 0 0;
            font: bold 18px/20px @font-default;
            @media @tablet-sm {
                margin-top: 35px;
            }
        }
    }

    .button {
        @media @tablet-sm {
            min-width: 380px;
            padding: 32px;
        }
    }
}
