/* ==========================================================================
   CATALOG
   ========================================================================== */
.catalog {
    margin-bottom: 24px;
    @media @tablet-sm {
      margin-bottom: 38px;
    }

    .wrapper {
        @media @tablet-sm {
            padding-right: 15px;
            padding-left: 15px;
            left: auto;
        }
    }

    .list {
        .item {
            margin: 0 -7px 19px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @media @mobile-xs {
                max-width: 350px;
                margin-left: auto;
                margin-right: auto;
            }
            @media @tablet-sm {
                max-width: none;
                margin-bottom: 27px;
            }
        }

        .area {
            &:after {
                .clearfix;
            }

            .col {
                padding: 24px 0;
                border-bottom: 2px solid @color-light;
                &:first-of-type {
                    padding-top: 0;
                }
                &:last-of-type {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                @media @tablet-sm {
                    width: 50%;
                    padding: 0;
                    float: left;
                    border: none;

                    &:first-of-type {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    &:nth-of-type(2) {
                        padding-right: 28px;
                        border-right: 2px solid @color-light;
                    }
                    &:nth-of-type(3) {
                        padding-left: 28px;
                    }
                }
            }
        }

        .link {
            padding: 36px 16px 16px 16px;
            display: block;
            position: relative;
            .color-black(.15);
            box-shadow: 0 0 7px 0 @color;
            &:focus {
              box-shadow: 0 0 7px 0 @color-blue;
            }
            &:hover {
                text-decoration: none;
            }
            @media @tablet-sm {
                padding: 22px 26px 46px;
            }
        }

        .badges {
            position: absolute;
            top: 0;
            right: 0;
            &:after {
                .clearfix;
            }
        }

        .badge {
            padding: 8px;
            background: @color-blue;
            color: @color-white;
            font-size: 11px;
            line-height: normal;
            font-weight: bold;
            text-transform: uppercase;
            float: left;
            position: relative;
            user-select: none;
            &:before {
                .pseudo;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 7px 0 0;
                border-color: @color-blue transparent transparent transparent;
                position: absolute;
                top: 100%;
                left: 12px;
                transform: skew(-8deg, 0deg);
            }

            &-red {
                background: @color-red;
                &:before {
                    border-color: @color-red transparent transparent transparent;
                }
            }

            @media @tablet-sm {
                padding: 13px;
                &:before {
                    border-width: 7px 9px 0 0;
                    left: 16px;
                }
            }
        }

        .name {
            margin-top: 0;
            font-size: 28px;
            font-weight: normal;
            @media @tablet-sm {
                margin-bottom: 0;
                padding-right: 134px;
                padding-left: 10px;
                font-size: 42px;
                line-height: 50px;
            }
        }

        .photo {
            width: 168px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
            user-select: none;
            @media @tablet-sm {
                width: 380px;
            }
            @media @desktop-sm {
                width: 330px;
            }
        }

        .list-info {
            padding: 0;
            margin: 2px 0 0 0;
            list-style: none;
            font: 22px/normal @font-heading;
            @media @tablet-sm {
                padding-top: 3px;
            }

            li {
                padding-left: 58px;
                margin-bottom: 16px;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }

                .icon {
                    width: 30px;
                    height: 30px;
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 3px;
                    user-select: none;
                }
            }
        }

        .price {
            margin: 0 0 8px 0;
            font: 800 42px/normal @font-heading;
            letter-spacing: .02em;
            color: @color-midnight;
            @media @tablet-sm {
                margin: -5px 0 18px 0;
            }

            .old {
                display: block;
                font-size: 26px;
                font-weight: normal;
                .color-black(.6);
                color: @color;
                user-select: none;
            }

            .new {
                color: @color-red;
            }
        }

        .button {
            width: 100%;
            padding-top: 22px;
            background: @color-midnight;
            color: @color-white;
            font-size: 18px;

            &:hover {
                background: transparent;
                color: @color-midnight;
            }
            @media @tablet-sm {
                width: auto;
                min-width: 216px;
            }
        }

        .small {
            margin: 22px 0 0 0;
            font-size: 14px;
            line-height: normal;
            .color-black(.6);
            color: @color;
            user-select: none;
        }
    }

    .submit {
      margin-top: 30px;
        text-align: center;

        .button {
          width: 100%;
          max-width: 350px;
          padding-top: 22px;
          font-size: 13px;
        }

        @media @tablet-sm {
            margin-top: 39px;
          .button {
            width: auto;
              min-width: 310px;
              max-width: none;
              padding-top: 19px;
              padding-bottom: 21px;
              font-size: 15px;
          }
        }
    }
}
