/* ==========================================================================
   ESTIMATE
   ========================================================================== */
.estimate {
    .title {
        max-width: 250px;
        margin: 0 auto 20px;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        @media @desktop-sm {
            margin-bottom: 30px;
            font-size: 42px;
            line-height: 46px;
        }
    }

    .table-estimate-mobile {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
        font-size: 16px;
        line-height: 19px;
        @media @tablet-sm {
          display: none;
        }

        tr {
          &.bg {
            background: @color-white-smoke;
          }
          &.padding-top {
              td {
                padding-top: 24px;
                padding-bottom: 8px;
              }
          }
          &.padding-bottom {
              td {
                padding-bottom: 30px;
              }
          }
        }

        td {
            padding: 16px 20px;

            &:first-of-type {
                white-space: normal;
            }
            &.h {
              font-weight: bold;
              white-space: normal;
            }
        }

        tfoot {
            tr {
                background: @color-glitter;
            }
            td {
                font-weight: bold;
                color: @color-blue;
            }
        }
    }

    .table-estimate {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
        display: none;
        @media @tablet-sm {
          display: table;
        }

        thead {
            tr {
                background: @color-white-smoke;
            }
            th {
                padding: 10px 20px;
                font-weight: 800;
                text-align: left;
                white-space: normal;
                vertical-align: top;
            }
            @media @desktop-sm {
                th {
                    padding: 24px 42px;
                    white-space: nowrap;
                    &:first-of-type {
                        width: 100%;
                        padding-left: 60px;
                    }
                    &:last-of-type {
                        min-width: 240px;
                    }
                }
            }
        }

        td {
            padding: 10px 20px;

            &:first-of-type {
                white-space: normal;
            }

            @media @desktop-sm {
                padding: 24px 42px;
                &:first-of-type {
                    padding-left: 60px;
                    white-space: nowrap;
                }
                &:last-of-type {
                    min-width: 240px;
                }
            }
        }

        tbody {
            tr {
                &:nth-of-type(even) {
                    background: @color-white-smoke;
                }
            }
        }

        tfoot {
            tr {
                background: @color-glitter;
            }
            td {
                font-weight: 800;
                color: @color-blue;
            }
        }
    }
}
