/* ==========================================================================
   _FULLPAGE
   ========================================================================== */
.fullpage {
    position: relative;
    z-index: 5;
    cursor: default;
    user-select: none;

    .section {
        //height: 100%;
        overflow: hidden;

        @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
            & {
                -webkit-transform-style: preserve-3d;
                -webkit-backface-visibility: hidden;
            }
        }

        &-1 {
            padding: 22px 0;
            background: url('@{images}/fullpage/section-1.jpg') center no-repeat;
            background-size: cover;
            @media @tablet-sm {
                padding-top: 57px;
                padding-bottom: 63px;
            }
            @media @desktop-sm {
                padding-top: 100px;
                padding-bottom: 32px;
            }

            .wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media @tablet-sm {
                    padding-right: 46px;
                    padding-left: 46px;
                }
                @media @desktop-sm {
                    max-width: 1100px;
                    padding-right: 30px;
                    padding-left: 30px;
                }
            }

            .heading {
                margin-top: 0;
                margin-bottom: 6px;
                font-size: 30px;
                line-height: normal;
                letter-spacing: .02em;

                @media @tablet-sm {
                    margin-bottom: 12px;
                    font-size: 50px;
                }
                @media @desktop-sm {
                    margin-bottom: 20px;
                    font-size: 70px;
                }
            }

            .text {
                font: 20px/normal @font-heading;
                color: @color-midnight;
                letter-spacing: .02em;

                p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                @media @tablet-sm {
                    font-size: 30px;
                    p {
                        margin-right: 90px;
                    }
                }
                @media @desktop-sm {
                    max-width: 6600px;
                    font-size: 36px;
                }
            }

            .menu {
                max-width: 260px;
                margin: 0;
                padding: 0;
                list-style: none;
                display: none;
                font: 800 36px/normal @font-heading;
                &:after {
                    .clearfix;
                }

                @media @tablet-sm {
                    display: block;
                }
                @media @desktop-sm {
                    max-width: none;
                    margin-top: 62px;
                }

                li {
                    margin-top: 62px;
                    letter-spacing: .02em;

                    @media @desktop-sm {
                        width: 33.3%;
                        margin-top: 0;
                        padding-right: 30px;
                        float: left;
                        &:first-child {
                            width: 35.7%;
                        }
                        &:nth-child(2) {
                            width: 38.2%;
                        }
                        &:nth-child(3) {
                            width: 26.1%;
                        }
                    }

                    a {
                        color: @color-midnight;
                        &:hover, &:focus {
                            color: @color-cerulean;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &-2 {
            height: 600px;
            padding: 41px 0 18px;
            background: url('@{images}/fullpage/section-2.jpg') center no-repeat;
            background-size: cover;
            color: @color-white;
            position: relative;
            text-align: center;
            @media @tablet-sm {
                padding-top: 76px;
                padding-bottom: 80px;
                background-position: 67% center;
            }
            @media @desktop-sm {
                padding-top: 60px;
                padding-bottom: 75px;
            }

            &:before, &:after {
                .pseudo;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            &:before {
                .color-midnight(.2);
                background: @color;
                z-index: 0;
            }
            &:after {
                height: 432px;
                background: linear-gradient(to bottom, rgba(22,42,73,1) 0%,rgba(22,42,73,0) 100%);
                opacity: .62;
                bottom: auto;
                z-index: 1;
            }

            .wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 2;
                @media @desktop-sm {
                    max-width: 920px;
                }
            }

            .text {
                flex-basis: 100%;
            }

            .heading {
                margin: 0;
                font-size: 30px;
                line-height: normal;
                letter-spacing: .02em;
                color: @color-white;

                @media @tablet-sm {
                    font-size: 50px;
                }
                @media @desktop-sm {
                    font-size: 70px;
                }
            }

            .sub-heading {
                margin: 0;
                font: 20px/normal @font-heading;
                letter-spacing: .02em;
                &:before {
                    .pseudo;
                    width: 164px;
                    height: 2px;
                    margin: 15px auto 26px;
                    background: @color-cerulean;
                }

                @media @tablet-sm {
                    font-size: 30px;
                    &:before {
                        margin: 11px auto 21px;
                    }
                }
                @media @desktop-sm {
                    max-width: 600px;
                    margin: 0 auto;
                    font-size: 36px;
                    &:before {
                        margin-top: 4px;
                    }
                }
            }

            .objects {
                padding: 0;
                margin: 0;
                list-style: none;
                z-index: 3;

                li {
                    padding: 16px 17px 12px;
                    white-space: nowrap;
                    background: @color-cerulean;
                    position: absolute;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: normal;
                    text-transform: uppercase;
                    letter-spacing: .02em;

                    &:nth-child(n+4) {
                        display: none;
                    }
                    @media @tablet-sm {
                        &:nth-child(n+4) {
                            display: block;
                        }
                        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(10) {
                            display: none;
                        }
                    }
                    @media @desktop-sm {
                        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(10) {
                            display: block;
                        }
                    }

                    &:before {
                        .pseudo;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 20px 0 0;
                        border-color: @color-cerulean transparent transparent transparent;
                        position: absolute;
                        top: 100%;
                        left: 20px;
                        transform: skew(-12deg, 0deg);
                    }

                    &:first-child {
                        padding: 9px 13px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 40.3%;
                        right: 15%;
                        &:before {
                            border-width: 9px 12px 0 0;
                            left: 11px;
                        }
                        @media @tablet-sm {
                            top: 37.6%;
                            left: 26.3%;
                            right: auto;
                        }
                        @media @desktop-sm {
                            top: 46.1%;
                            left: 14.9%;
                        }
                    }
                    &:nth-child(2) {
                        padding: 9px 13px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 51%;
                        left: 10%;
                        &:before {
                            border-width: 9px 12px 0 0;
                            left: 7px;
                        }
                        @media @tablet-sm {
                            top: 26.5%;
                            left: 12.1%;
                        }
                        @media @desktop-sm {
                            top: 32.5%;
                            left: 7.1%;
                        }
                    }
                    &:nth-child(3) {
                        bottom: 27%;
                        left: 8%;
                        @media @tablet-sm {
                            bottom: 34.8%;
                            left: 25.1%;
                        }
                        @media @desktop-sm {
                            bottom: 20.2%;
                            left: 14.4%;
                        }
                    }
                    &:nth-child(4) {
                        @media @tablet-sm {
                            padding: 11px 11px 9px;
                            top: 34.1%;
                            right: 7.5%;
                            &:before {
                                border-width: 14px 18px 0 0;
                                left: 14px;
                            }
                        }
                        @media @desktop-sm {
                            top: 41.8%;
                            right: 47.1%;
                        }
                    }
                    &:nth-child(5) {
                        padding: 9px 14px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 37.7%;
                        right: 28.1%;
                        &:before {
                            border-width: 8px 12px 0 0;
                            left: 10px;
                        }
                    }
                    &:nth-child(6) {
                        padding: 8px 13px 7px;
                        font-size: 9px;
                        top: 32%;
                        right: 3.3%;
                        &:before {
                            border-width: 6px 12px 0 0;
                            left: 11px;
                            transform: skew(-20deg, 0deg);
                        }
                    }
                    &:nth-child(7) {
                        padding: 11px 10px 10px;
                        font-size: 12px;
                        line-height: normal;
                        top: 46%;
                        right: 13.6%;
                        &:before {
                            border-width: 12px 15px 0 0;
                            left: 15px;
                            transform: skew(-8deg, 0deg);
                        }
                    }
                    &:nth-child(8) {
                        width: 66px;
                        height: 20px;
                        padding: 0;
                        top: 24.2%;
                        right: 55%;
                        filter: blur(2px);
                        background: @color-blue;
                        opacity: .8;
                        &:before {
                            border-color: @color-blue transparent transparent transparent;
                            border-width: 10px 12px 0 0;
                            transform: skew(-10deg, 0deg);
                            left: 5px;
                        }
                        @media @desktop-sm {
                            top: 30%;
                            left: 20.3%;
                            right: auto;
                        }
                    }
                    &:nth-child(9) {
                        width: 44px;
                        height: 16px;
                        padding: 0;
                        top: 24%;
                        left: 65.5%;
                        filter: blur(2px);
                        background: @color-blue;
                        opacity: .8;
                        &:before {
                            border-color: @color-blue transparent transparent transparent;
                            border-width: 8px 10px 0 0;
                            border-width: 10px 12px 0 0;
                            transform: skew(-10deg, 0deg);
                            left: 5px;
                        }
                        @media @desktop-sm {
                            width: 48px;
                            height: 14px;
                            padding: 0;
                            top: 29.4%;
                            left: 37.3%;
                        }
                    }
                    &:nth-child(10) {
                        width: 76px;
                        height: 24px;
                        padding: 0;
                        top: 27.4%;
                        right: 14.6%;
                        filter: blur(2px);
                        background: @color-blue;
                        opacity: .8;
                        &:before {
                            border-color: @color-blue transparent transparent transparent;
                            border-width: 12px 14px 0 0;
                            transform: skew(-10deg, 0deg);
                            left: 6px;
                        }
                    }
                }
            }

            .button {
                padding-top: 21px;
                @media @tablet-sm {
                    min-width: 310px;
                }
            }
        }
    }
}
