/* ==========================================================================
   _FULLPAGE
   ========================================================================== */
@duration-slow: .6s @easing;

.fullpage {
    position: relative;
    z-index: 5;
    cursor: default;
    //user-select: none;

    &-wrapper {
        //width: 100% !important;
        //transform: none!important;
    }

    .section {
        position: relative;
        background-color: @color-blue-pastel;

        &.fp-section {
            //width: 100% !important;
            position: relative;
            //left: 0;
            //top: 0;
            //visibility: hidden;
            //opacity: 0;
            z-index: 0;
            //transition: all .7s ease-in-out;

            &.active {
                //visibility: visible;
                //opacity: 1;
                z-index: 1;
            }
        }

        .fp-tableCell {
            padding-top: 84px;
        }

        @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
            & {
                transform-style: preserve-3d;
                backface-visibility: hidden;
            }
        }

        &:before {
            .pseudo;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @media @desktop-sm {
                //transform: scale(.8) translate3d(0, -100%, 0);
                //opacity: 0;
                //z-index: 0;
                //transition: transform @duration-l, opacity @duration-l;
                //transition-delay: 0s;
            }
        }

        &.active {
            @media @desktop-sm {
                &:before {
                    //transform: scale(1) translate3d(0,0,0);
                    //opacity: 1;
                    //transition-delay: .6s;
                }
            }
        }

        .wrapper {
            position: relative;
            z-index: 2;
        }

        &-1 {
            &:before {
                background-image: url('@{images}/fullpage/section-1.jpg');
            }

            .wrapper {
                height: 100%;
                padding-top: 23px;
                padding-bottom: 23px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media @tablet-sm {
                    padding: 57px 46px 63px;
                }
                @media @desktop-sm {
                    max-width: 1100px;
                    padding: 100px 30px 32px;
                }
            }

            .heading {
                margin-top: 0;
                margin-bottom: 6px;
                font-size: 30px;
                line-height: normal;
                letter-spacing: .02em;

                @media @tablet-sm {
                    margin-bottom: 12px;
                    font-size: 50px;
                }
                @media @desktop-sm {
                    margin-bottom: 20px;
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                    transition-delay: 0s;
                }
                @media @desktop-lg {
                    font-size: 70px;
                }
            }

            .text {
                font: 20px/normal @font-heading;
                color: @color-midnight;
                letter-spacing: .02em;
                flex-grow: 1;

                p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                @media @tablet-sm {
                    font-size: 30px;
                    p {
                        margin-right: 70px;
                    }
                }
                @media @desktop-sm {
                    max-width: 660px;
                    p {
                        transform: translate3d(0, 30px, 0);
                        opacity: 0;
                        transition: transform @duration-slow, opacity @duration-slow;
                        transition-timing-function: ease-out;
                        transition-delay: 0s;
                    }
                }
                @media @desktop-lg {
                    font-size: 36px;
                }
            }

            .menu {
                max-width: 260px;
                margin: 0;
                padding: 0;
                list-style: none;
                display: none;
                font: 800 36px/normal @font-heading;
                &:after {
                    .clearfix;
                }
                @media @tablet-sm {
                    max-width: none;
                    margin-top: 62px;
                    display: block;
                }
                @media @tablet-md {
                    font-size: 32px;
                }
                @media @desktop-sm {
                    font-size: 36px;
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                    transition-delay: 0s;
                }

                li {
                    margin-top: 62px;
                    letter-spacing: .02em;

                    @media @tablet-md {
                        width: 33.3%;
                        padding-right: 10px;
                        margin-top: 0;
                        float: left;
                        &:last-child {
                            padding-right: 0;
                        }
                        &:first-child {
                            width: 35.7%;
                        }
                        &:nth-child(2) {
                            width: 38.2%;
                        }
                        &:nth-child(3) {
                            width: 26.1%;
                        }
                    }

                    @media @desktop-sm {
                        padding-right: 30px;
                    }

                    a {
                        color: @color-midnight;
                        &:hover, &:focus {
                            color: @color-cerulean;
                            text-decoration: none;
                        }
                    }
                }
            }

            &.fp-completely {
                @media @desktop-sm {
                    .heading {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }
                    .text p {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .4s;
                    }
                    .menu {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .8s;
                    }
                }
            }
        }

        &-2 {
            color: @color-white;
            text-align: center;
            @media @tablet-sm {
                &:before {
                    background-position: 67% center;
                    background-image: url('@{images}/fullpage/section-2.jpg');
                }
            }

            &:after {
                .pseudo;
                .color-midnight(.2);
                background: @color;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                @media @desktop-sm {
                    opacity: 1;
                    z-index: 1;
                }
            }

            .wrapper {
                height: 100%;
                padding-top: 41px;
                padding-bottom: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                @media @tablet-sm {
                    padding-top: 76px;
                    padding-bottom: 80px;
                }
                @media @desktop-sm {
                    max-width: 920px;
                    padding-top: 60px;
                    padding-bottom: 75px;
                }
            }

            .text {
                flex-grow: 1;
            }

            .heading {
                margin: 0;
                font-size: 30px;
                line-height: normal;
                letter-spacing: .02em;
                color: @color-white;

                @media @tablet-sm {
                    font-size: 50px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
                @media @desktop-lg {
                    font-size: 70px;
                }
            }

            .sub-heading {
                margin: 0;
                font: 20px/normal @font-heading;
                letter-spacing: .02em;

                &:before {
                    .pseudo;
                    width: 164px;
                    height: 2px;
                    margin: 15px auto 26px;
                    background: @color-cerulean;
                }

                @media @tablet-sm {
                    font-size: 30px;
                    &:before {
                        margin: 11px auto 21px;
                    }
                }
                @media @desktop-sm {
                    max-width: 600px;
                    margin: 0 auto;
                    font-size: 36px;
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                    &:before {
                        margin-top: 4px;
                    }
                }
            }

            .objects {
                padding: 0;
                margin: 0;
                list-style: none;
                z-index: 3;

                li {
                    padding: 16px 17px 12px;
                    white-space: nowrap;
                    background: @color-cerulean;
                    position: absolute;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: normal;
                    text-transform: uppercase;
                    letter-spacing: .02em;


                    &:nth-child(n+4) {
                        display: none;
                    }

                    @media @tablet-sm {
                        &:nth-child(n+4) {
                            display: block;
                        }
                        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(10) {
                            display: none;
                        }
                    }
                    @media @desktop-sm {
                        opacity: 0;
                        transition: opacity @duration;
                        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(10) {
                            display: block;
                        }
                    }

                    &:before {
                        .pseudo;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 20px 0 0;
                        border-color: @color-cerulean transparent transparent transparent;
                        position: absolute;
                        top: 100%;
                        left: 20px;
                        transform: skew(-12deg, 0deg);
                    }

                    &:first-child {
                        padding: 9px 11px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 40.4%;
                        right: 15.6%;
                        letter-spacing: .06em;
                        &:before {
                            border-width: 9px 12px 0 0;
                            left: 11px;
                        }
                        @media @tablet-sm {
                            top: 37.6%;
                            left: 26.2%;
                            right: auto;
                        }
                        @media @desktop-sm {
                            top: 46.1%;
                            left: 15%;
                        }
                    }

                    &:nth-child(2) {
                        padding: 9px 13px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 51.1%;
                        left: 8.9%;
                        letter-spacing: .04em;
                        &:before {
                            border-width: 9px 12px 0 0;
                            left: 7px;
                        }
                        @media @tablet-sm {
                            top: 26.5%;
                            left: 12.1%;
                        }
                        @media @desktop-sm {
                            top: 32.5%;
                            left: 7%;
                        }
                    }

                    &:nth-child(3) {
                        bottom: 27%;
                        left: 7%;
                        &:before {
                            border-width: 18px 22px 0 0;
                        }
                        @media @tablet-sm {
                            bottom: 34.8%;
                            left: 25.1%;
                        }
                        @media @desktop-sm {
                            bottom: 20.2%;
                            left: 14.4%;
                        }
                    }

                    &:nth-child(4) {
                        @media @tablet-sm {
                            padding: 11px 12px 8px;
                            top: 34.1%;
                            right: 7.5%;
                            letter-spacing: .005em;
                            &:before {
                                border-width: 14px 18px 0 0;
                                left: 14px;
                            }
                        }
                        @media @desktop-sm {
                            top: 41.8%;
                            right: 47.1%;
                        }
                    }

                    &:nth-child(5) {
                        padding: 9px 14px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 37.7%;
                        right: 28.1%;
                        &:before {
                            border-width: 8px 12px 0 0;
                            left: 10px;
                        }
                    }

                    &:nth-child(6) {
                        padding: 9px 12px 6px;
                        font-size: 9px;
                        line-height: normal;
                        top: 31.8%;
                        right: 3.3%;
                        letter-spacing: .044em;
                        &:before {
                            border-width: 6px 12px 0 0;
                            left: 11px;
                            transform: skew(-20deg, 0deg);
                        }
                    }

                    &:nth-child(7) {
                        padding: 11px 10px 10px;
                        font-size: 12px;
                        line-height: normal;
                        top: 45.9%;
                        right: 13.6%;
                        &:before {
                            border-width: 12px 15px 0 0;
                            left: 15px;
                            transform: skew(-16deg, 0deg);
                        }
                    }

                    &:nth-child(8) {
                        width: 66px;
                        height: 20px;
                        padding: 0;
                        top: 24.2%;
                        right: 55%;
                        filter: blur(2px);
                        background: @color-blue;
                        &:before {
                            border-color: @color-blue transparent transparent transparent;
                            border-width: 10px 12px 0 0;
                            transform: skew(-10deg, 0deg);
                            left: 5px;
                        }
                        @media @desktop-sm {
                            top: 30%;
                            left: 20.3%;
                            right: auto;
                        }
                    }

                    &:nth-child(9) {
                        width: 44px;
                        height: 16px;
                        padding: 0;
                        top: 24%;
                        left: 65.5%;
                        filter: blur(2px);
                        background: @color-blue;
                        &:before {
                            border-color: @color-blue transparent transparent transparent;
                            border-width: 8px 10px 0 0;
                            border-width: 10px 12px 0 0;
                            transform: skew(-10deg, 0deg);
                            left: 5px;
                        }
                        @media @desktop-sm {
                            width: 48px;
                            height: 14px;
                            padding: 0;
                            top: 29.4%;
                            left: 37.3%;
                        }
                    }

                    &:nth-child(10) {
                        width: 76px;
                        height: 24px;
                        padding: 0;
                        top: 27.4%;
                        right: 14.6%;
                        filter: blur(2px);
                        background: @color-blue;
                        &:before {
                            border-color: @color-blue transparent transparent transparent;
                            border-width: 12px 14px 0 0;
                            transform: skew(-10deg, 0deg);
                            left: 6px;
                        }
                    }
                }
            }

            .button {
                @media @tablet-sm {
                    min-width: 310px;
                    padding-top: 21px;
                    padding-bottom: 19px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            &.fp-completely {
                @media @desktop-sm {
                    .heading {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }

                    .sub-heading {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .4s;
                    }

                    .button {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .8s;
                    }

                    .objects {
                        li {
                            transform: translate3d(0,0,0);
                            opacity: 1;
                            transition-delay: 1s;
                            &:nth-child(3) {
                                transition-delay: 1.2s;
                            }
                            &:nth-child(4) {
                                transition-delay: 1.4s;
                            }
                            &:nth-child(1) {
                                transition-delay: 1.6s;
                            }
                            &:nth-child(7) {
                                transition-delay: 1.8s;
                            }
                            &:nth-child(2) {
                                transition-delay: 2s;
                            }
                            &:nth-child(5) {
                                transition-delay: 2.2s;
                            }
                            &:nth-child(6) {
                                transition-delay: 2.4s;
                            }
                            &:nth-child(8), &:nth-child(9), &:nth-child(10) {
                                transition-delay: 2.6s;
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }

        &-3 {
            color: @color-white;

            &:before {
                background-image: url('@{images}/fullpage/section-3.jpg');
            }

            &:after {
                .pseudo;
                .color-midnight(0);
                background: linear-gradient(to right, @color-midnight 0%,@color 100%);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }

            .wrapper {
                height: 100%;
                padding-top: 34px;
                padding-bottom: 23px;
                @media @tablet-sm {
                    padding-bottom: 42px;
                }
                @media @desktop-sm {
                    max-width: 1080px;
                }
            }

            .area {
                height: 100%;
                padding-right: 18px;
                padding-left: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                @media @tablet-sm {
                    max-width: 460px;
                    padding-right: 32px;
                    padding-left: 32px;
                    justify-content: center;
                    align-items: flex-start;
                }
                @media @desktop-sm {
                    float: right;
                }
            }

            .heading {
                margin: 0;
                font-size: 30px;
                line-height: normal;
                letter-spacing: .02em;
                color: @color-white;

                @media @tablet-sm {
                    font-size: 70px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            .sub-heading {
                margin: 0;
                font: 20px/normal @font-heading;
                letter-spacing: .02em;


                &:before {
                    .pseudo;
                    width: 164px;
                    height: 2px;
                    margin: 12px 0 19px;
                    background: @color-cerulean;
                }

                @media @tablet-sm {
                    margin-right: 30px;
                    font-size: 28px;
                    &:before {
                        margin: 24px 0 34px;
                    }
                }

                @media @desktop-sm {
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            .button {
                margin-top: 27px;
                padding-top: 23px;
                padding-bottom: 19px;
                @media @tablet-sm {
                    min-width: 286px;
                    padding-top: 22px;
                    padding-bottom: 22px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            &.fp-completely {
                @media @desktop-sm {
                    .heading {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }

                    .sub-heading {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .4s;
                    }

                    .button {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .8s;
                    }
                }
            }
        }

        &-4 {
            &:before {
                background-image: url('@{images}/fullpage/section-4.jpg');
            }

            @media @tablet-sm {
                &:before {
                    background-position: 44% 0;
                }
            }

            .wrapper {
                height: 100%;
                padding: 23px 28px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                @media @tablet-sm {
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                @media @desktop-sm {
                    max-width: 1174px;
                    padding-top: 80px;
                    padding-bottom: 80px;
                }
            }

            .name {
                margin: 0;
                font-size: 30px;
                letter-spacing: .02em;

                @media @tablet-sm {
                    margin-bottom: 4px;
                    font-size: 70px;
                }
                @media @desktop-sm {
                    margin-bottom: 0;
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            .position {
                margin: 0;
                font: 20px/normal @font-heading;
                letter-spacing: .018em;
                @media @tablet-sm {
                    font-size: 32px;
                    line-height: 32px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 30px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            &.fp-completely {
                @media @desktop-sm {
                    .name {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }

                    .position {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .4s;
                    }
                }
            }
        }

        &-5 {
            color: @color-white;
            background: transparent;

            .wrapper {
                height: 100%;
                padding-top: 22px;
                padding-bottom: 83px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: @color-white !important;
                &:hover {
                    text-decoration: none !important;
                }
                @media @tablet-sm {
                    padding-top: 50px;
                    padding-bottom: 22px;
                }
                @media @desktop-sm {
                    max-height: 418px;
                    padding-top: 27px;
                }

                > * {
                    position: relative;
                    z-index: 2;
                }
            }

            .heading {
                margin: 0 0 3px;
                font-size: 30px;
                letter-spacing: .02em;
                color: @color-white;
                @media @tablet-sm {
                    margin-bottom: 8px;
                    font-size: 50px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 20px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
                @media @desktop-lg {
                    font-size: 70px;
                }
            }

            .text {
                max-width: 220px;
                margin: 0 auto;
                font: 20px/normal @font-heading;
                letter-spacing: .018em;
                color: @color-white;
                text-decoration: none;

                @media @tablet-sm {
                    max-width: none;
                    font-size: 28px;
                }
                @media @desktop-sm {
                    transform: translate3d(0, 20px, 0);
                    opacity: 0;
                    transition: transform @duration-slow, opacity @duration-slow;
                    transition-timing-function: ease-out;
                }
            }

            .projects {
                width: 100vw;
                padding: 0;
                margin: 0 auto;
                list-style: none;
                background-color: @color-blue-pastel;
                position: absolute;
                top: -84px;
                bottom: 0;
                z-index: 0;

                &:after {
                    .clearfix;
                }

                li {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;
                    &:nth-child(n+2) {
                        display: none;
                    }

                    @media @tablet-sm {
                        width: 50%;
                        float: left;
                        &:nth-child(n+2) {
                            display: block;
                        }
                        &:nth-child(n+3) {
                            display: none;
                        }
                    }
                    @media @desktop-sm {
                        width: 33.3%;
                        float: left;
                        &:nth-child(n+3) {
                            display: block;
                        }
                    }

                    &:before {
                        .pseudo;
                        background: @color-space;
                        opacity: .5;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }

            &.fp-completely {
                @media @desktop-sm {
                    .heading {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                    }

                    .text {
                        transform: translate3d(0,0,0);
                        opacity: 1;
                        transition-delay: .4s;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   _FULLPAGE DOTS
   ========================================================================== */
.dots {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    z-index: 10;
    cursor: default;
    user-select: none;

    @media @tablet-md {
        right: 45px;
    }

    li {
        width: 10px;
        height: 10px;
        margin: 9px 0;
        position: relative;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }

        a {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
            background: @color-white;
            transition: background @duration;

            &:hover {
                background: @color-blue;
            }
            &:focus {
                background: @color-white;
            }
        }

        &.active {
            a {
                background: @color-blue;
            }
        }
    }
}
