/* ==========================================================================
   PAGE-HEADER
   ========================================================================== */
.page-header {
    height: 546px;
    margin-bottom: 20px;
    padding: 40px 0 85px;
    background-color: @color-blue-light;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    position: relative;
    color: @color-white;
    text-align: center;
    cursor: default;
    @media @tablet-sm {
        height: 862px;
        padding: 40px 0 93px;
        margin-bottom: 60px;
    }
    @media @tablet-md {
        height: 678px;
    }
    @media @desktop-sm {
        height: 703px;
        padding: 50px 0 100px;
    }

    + .content {
        padding-top: 0;
    }

    .area {
        padding: 0 20px;
        margin: 0;
        flex-basis: 320px;
        position: relative;
        z-index: 3;
        @media @tablet-sm {
            flex-basis: 690px;
        }
        @media @desktop-sm {
            flex-basis: 800px;
        }
    }

    .title {
        margin: 0;
        color: @color-white;
        letter-spacing: .02em;
        font-size: 32px;
        @media @tablet-sm {
            font-size: 65px;
        }
        @media @desktop-sm {
            font-size: 80px;
            line-height: 90px;
        }
    }

    .text {
        margin: 0;
        font: 30px/36px @font-heading;
        letter-spacing: .02em;
        position: relative;
        &:before, &:after {
            .pseudo;
            width: 160px;
            height: 2px;
            margin: 24px auto 19px;
            background: @color-white;
        }
        &:after {
            display: none;
            width: 110px;
            margin: 15px auto 30px;
        }

        &-bottom {
            margin-top: 9px;
            &:before {
                display: none;
            }
            &:after {
                display: block;
            }
        }

        @media @tablet-sm {
            font-size: 36px;
            line-height: 44px;
            &:before, &:after {
                width: 260px;
                height: 3px;
                margin: 9px auto 22px;
            }
            &:after {
                margin: 31px auto 48px;
            }

            &-bottom {
                margin-top: 16px;
            }
        }
        @media @desktop-sm {
            &:before {
                margin-top: 13px;
            }
            &:after {
                margin: 34px auto 40px;
            }

            &-bottom {
                margin-top: 8px;
            }
        }
    }

    .button {
        min-width: 200px;
        margin-top: 14px;
        padding: 20px;
        @media @tablet-sm {
            margin-top: 31px;
        }
    }

    .price {
        margin: 0 0 22px;
        display: block;
        font-size: 15px;
        line-height: normal;
        font-weight: bold;
        text-transform: uppercase;
        @media @tablet-sm {
            margin-bottom: 20px;
            letter-spacing: .03em;
        }
        @media @desktop-sm {
            margin-bottom: 26px;
            font-size: 22px;
        }
    }

    .carousel {
        width: 100vw;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        .slick {
            &-list, &-track {
                height: 100% !important;
            }

            &-dots {
                height: 20px;
                padding: 0;
                margin: 0;
                list-style: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 24px;
                z-index: 3;
                text-align: center;
                @media @tablet-sm {
                    bottom: 33px;
                }
                @media @desktop-sm {
                    bottom: 21px;
                }

                li {
                    height: 20px;
                    margin: 0 3px;
                    display: inline-block;

                    .dot {
                        width: 20px;
                        height: 20px;
                        display: block;
                        position: relative;
                        cursor: pointer;

                        &:before {
                            .pseudo;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin: auto;
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: @color-white;
                            transition: background-color @duration, transform @duration;
                            backface-visibility: hidden;
                        }

                        &:hover {
                            &:before {
                                transform: scale(1.15);
                            }
                        }
                    }

                    &.slick-active {
                        .dot:before {
                            background: @color-blue;
                        }
                    }
                }
            }
        }

        .item {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            z-index: 1;

            &:before {
                .pseudo;
                background: @color-midnight;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: .4;
                backface-visibility: hidden;
            }
        }
    }

    &.page-designers {
        background-image: url('@{images}/page-header/designers.jpg');
    }

    &.page-contacts {
        height: 216px;
        padding: 20px 0;
        margin-top: -50px;
        margin-bottom: 0;
        align-items: flex-end;

        &:before {
            .pseudo;
            height: 50px;
            background: linear-gradient(to bottom, rgba(25,35,49,0) 0%,rgba(25,35,49,1) 76%,rgba(25,35,49,1) 100%);
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: .56;
            backface-visibility: hidden;
            z-index: 2;
            @media @tablet-sm {
                height: 130px;
            }
        }

        @media @tablet-sm {
            height: 365px;
            padding: 40px 0;
        }
        @media @desktop-sm {
            height: 515px;
            padding: 60px 0;
        }
    }
}

.parallax-mirror {
    z-index: 1 !important;

    &:before {
        .pseudo;
        background: @color-midnight;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .4;
        backface-visibility: hidden;
        z-index: 1;
    }
}

.preloader {
    width: 100px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0 !important;

    span {
        position: absolute;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 999px;
        animation: bounce 1s infinite linear;

        &:nth-child(1) {
            left: 0;
            animation-delay: 0s;
        }

        &:nth-child(2) {
            left: 20px;
            animation-delay: .25s;
        }

        &:nth-child(3) {
            left: 40px;
            animation-delay: .5s;
        }

        &:nth-child(4) {
            left: 60px;
            animation-delay: .75s;
        }

        &:nth-child(5) {
            left: 80px;
            animation-delay: 1s;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        opacity: .5;
    }
    50% {
        transform: translateY(-30px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: .5;
    }
}
