/* ==========================================================================
   SOLUTIONS
   ========================================================================== */
.solutions {
    margin-top: 35px;
    @media @desktop-sm {
        margin-top: 46px;
    }

    .heading {
        margin-top: 0;
        margin-bottom: 25px;
        text-align: center;
        @media @desktop-sm {
            margin-bottom: 32px;
        }
    }

    .tab {
        &-list {
            max-height: 250px;
            padding: 0;
            margin: 0 0 28px 0;
            list-style: none;
            font: 20px/20px @font-heading;
            text-align: center;
            overflow: hidden;
            &:after {
                .clearfix;
            }

            @media @mobile-md {
                margin-left: -10px;
                margin-right: -10px;
            }
            @media @desktop-sm {
                margin-bottom: 62px;
                font-size: 22px;
                line-height: 22px;
            }

            &.slick-initialized {
                max-height: none;
                overflow: visible;
                position: relative;
                .slick-slide {
                    margin-bottom: 0;
                }
                .slick-arrow {
                    width: 40px;
                    height: 40px;
                    margin: auto;
                    display: block;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: 10;
                    &.slick-disabled {
                        opacity: .5;
                    }

                    &:before {
                        .pseudo;
                        width: 16px;
                        height: 16px;
                        margin: auto;
                        display: block;
                        border-top: 2px solid @color-midnight;
                        border-right: 2px solid @color-midnight;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }

                    &.prev {
                        left: 10px;
                        &:before {
                            transform: rotate(-135deg);
                        }
                    }

                    &.next {
                        right: 10px;
                        &:before {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            .item {
                width: 215px;
                margin: 0 auto 20px;
                opacity: .6;
                transition: opacity @duration-s;
                @media @mobile-lg {
                    margin-bottom: 0;
                    display: inline-block;
                    vertical-align: top;
                }
                @media @desktop-sm {
                    width: 238px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.active {
                    opacity: 1;
                    .link {
                        border-color: @color-cerulean;
                        @media @tablet-sm {
                            .color-black(.4);
                            box-shadow: 0 0 5px 0 @color;
                        }

                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }

            .link {
                width: 218px;
                padding: 10px 10px 16px 10px;
                margin: 0 auto;
                border: 2px solid transparent;
                display: block;
                position: relative;
                transition: border-color @duration-s;
                &:hover {
                    text-decoration: none;
                }

                &:before {
                    .pseudo;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    z-index: 1;
                    transition: opacity @duration-s;
                    @media @tablet-sm {
                        .color-black(.4);
                        box-shadow: inset 0 0 5px 0 @color;
                    }
                }
            }

            .image {
                width: 226px;
                max-width: 100%;
                height: auto 26px;
                margin: 0 auto;
                display: block;
                user-select: none;
            }

            .text {
                margin: 0;
                letter-spacing: .02em;

                .size {
                    margin-bottom: 4px;
                    display: block;
                    font-size: 27px;
                    line-height: 27px;
                    font-weight: bold;
                    letter-spacing: 0;
                    @media @desktop-sm {
                        font-size: 30px;
                        line-height: 30px;
                    }
                }
            }
        }

        &-hidden {
            display: none;
        }
    }
}
